{% extends "voc2.j2" %}
{% block summary %}
<p>Het ICOMVL-Museum vocabularium bevat termen die betrekking hebben op musea.</p>
{% endblock %}
{% block status %}
<p>Dit document werd gepubliceerd door ICOM-Vlaanderen.</p>
{% endblock %}
