{% extends "ap2.j2" %}
{% block summary %}
<p>Het ICOMVL-Museum-basis applicatieprofiel specifieert hoe de termen die betrekking hebben op musea uit het ICOMVL-Museum vocabularium het best worden gebruikt voor basistoepassingen.</p>
{% endblock %}
{% block status %}
<p>Dit document werd gepubliceerd door ICOM-Vlaanderen.</p>
{% endblock %}
{% block conformance %}
<p>Om conform te zijn met dit applicatieprofiel, geldt voor een implementatie dat ze:</p>
<p>
<ul>
<li>MOET Voor elke klasse steeds de eigenschappen bevatten die als minimum kardinaliteit 1 hebben.</li>
<li>MAG NIET meer dan 1 instantie bevatten van eigenschappen die 1 als maximum kardinaliteit hebben.</li>
<li>MAG terminologie (klassen en eigenschappen) gebruiken op een manier die consistent is met haar semantiek (definitie, gebruik, domein en bereik).</li>
<li>MAG NIET terminologie van andere gecontroleerde vocabularia gebruiken dan diegene die gedefinieerd wordt in dit applicatieprofiel.</li>
<li>MAG uitgebreid worden met klassen en eigenschappen van andere datamodellen (vocabularia) die niet overlappen met terminologie uit dit applicatieprofiel.</li>
</ul>
</p>  
{% endblock %}
